<section id="operaciones-pendientes">

  <h2>Firmas</h2>

  <div class="ui-g info-box">
    <div class="ui-g-12">
      <div class="ui-g-6">
        <div class="info-title">Titular</div>
        <div class="info-subtitle"> <strong> S.Q. ARREDAMENTIS CON ÑÑÑÑÑÑÑ </strong></div>
      </div>
      <div class="ui-g-6">
        <div class="info-title">Documento</div>
        <div class="info-subtitle"> <strong> B95102174 </strong></div>
      </div>
    </div>
  </div>

  <p-tabView>
    <p-tabPanel header="Operaciones pendientes de firma">
      <table>
        <thead>
          <tr>
            <th>Tipo de operación</th>
            <th>Número de operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <a (click)="goToPasarela()"> Pasarela Soltour </a> </td>
            <td> <p>1</p> </td>
          </tr>
        </tbody>
      </table>
    </p-tabPanel>
    <p-tabPanel header="Histórico de firmas">

    </p-tabPanel>
  </p-tabView>

</section>
