<h3>
  Piensalo dos veces.
  Con lo que cuesta rellenar estas solicitudes...
</h3>
<p>
  Te ofrecemos la posibilidad de guardar esta operación durante tres días hábiles 
  para que en otro momento la finalices utilizando tu firma.
</p>
<p>
  Para recuperarla, tan sólo tendrá que ir a <i><b>Área personal -> Mis operaciones</b></i>, 
  y consultar operaciones <i><b>Pendientes de firma</b></i>.
</p>
<div class="footer">
  <button class="nwe-btn nwe-btn-red" type="button" (click)="cancelar.emit()">Continuar sin guardar</button>
  <button class="nwe-btn nwe-btn-red" type="button" (click)="guardar.emit()">Guardar sin firmar</button>
</div>