<section id="situacion-firma">
  <h1>Situación de las firmas de una orden</h1>
  <div class="ui-g info-box">
    <h3>Datos de la orden</h3>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <span>Descripción</span> <br>
        <span>PAGO DE IMPUESTOS</span>
      </div>
      <div class="ui-g-4">
        <span>Importe</span> <br>
        <span>110,00 EUR</span>
      </div>
      <div class="ui-g-4">
        <span>Titular</span> <br>
        <span>GAÑIOLA ÑECIO BLAS IÑAKI / 00282196D</span>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <span>Cuenta</span> <br>
        <span>ES36 0049 0001 58 2916247130</span>
      </div>
      <div class="ui-g-4">
        <span>Envío</span> <br>
        <span>11/05/2018 - 13:31</span>
      </div>
      <div class="ui-g-4">
      </div>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Grupos</th>
        <th>Firmas necesarios (Usuarios)</th>
        <th>Ha firmado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>464801</td>
        <td>NOMBRE APELLIDO APELLIDO</td>
        <td> <span class="icon-check"></span> </td>
      </tr>
      <tr>
        <td></td>
        <td>ANTONIO RODRIGUEZ FERNANDEZ</td>
        <td> <span class="icon-check"></span> </td>
      </tr>
    </tbody>
  </table>

</section>
