:host {
    display: block;
}
ul {
    padding-left: 0;
}
li {
    list-style-type: none;
    display: flex;
    
}
li:nth-child(odd) {
    background-color: #F7F7F7;
}
li:first-child {
    background-color: #67686E;
    color: white;
}

p {
    width: 40%;
}
p:last-child {
    width: 20%;
}