<h2>{{title | uppercase}}</h2>
<form>
  <label for="description">Description</label>
  <input type="text" #inputDescription 
    [value]="operation.description" (input)="operation.description=inputDescription.value">
  <label for="amount">Amount</label>

  <input type="text" #inputAmount formatearImporte
    [value]="operation.amount" (input)="aplicarMascara(inputAmount.value); inputAmount.value=operation.amount">
    <!-- [value]="operation.amount" (keyup)="aplicarMascara(inputAmount.value); inputAmount.value=operation.amount"> -->

  <label for="kind">Kind of operation</label>
  <select name="kind" [(ngModel)]="operation.kind">
    <option value="">Please select a kind</option>
    <option *ngFor="let kind of kindsOfOperations" [value]="kind">{{kind}}</option>
  </select>
  <button (click)="saveOperation()">Save</button>
</form>

<blockquote>
  Number of operations: {{numberOfOperations}}
  <br>
  Current: <em>{{operation | json}}</em>
</blockquote>